.headshot {
    border-radius: 100%;
    border-style: solid;
    border-width: 15px;
    border-color: white;

    width: 400px;
    height: 400px;

    filter: grayscale(100%);
}

.hero {
    display:flex;
    align-items:center;
}

.hero-section {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 100px;
    padding-left: 100px;

    background-color: black;
}

.hero-text {
    margin-left: 50px;

    color: white;
}

.section-spacing {
    margin-top: 50px;
    margin-bottom: 50px;
}

.experience-img {
    height: 125px;
    width: 125px;
}

.footer {
    background-color: black;
}

.footer-text {
    color: white;
}

.parallax {
    /* The image used */
    background-image: url("/Users/gauravranganath/Desktop/GauravRanganath.github.io/style/img/horizontal-filler.JPG");
  
    /* Set a specific height */
    height: 500px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

#more {
    display: none;
}